html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #F5F2FF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.navigation {
    border: 1px solid #e6e6e6;
    position: sticky;
    width: 100%;
    top: 0px;
    box-sizing: border-box;
    background: #FfF;
    display: flex;
    justify-content: space-around;
}

.navigation__link {
    color: #ED6A5A;
    text-decoration: none;
    justify-content: center;
}

.navigation__menu {
    margin: 1px 5px;
    min-width: 1280px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__item--space {
    flex-grow: 10;
}

.navigation__icons {
    display: flex;
    flex-grow: 4;
    justify-content: flex-end;
}

.navigation__item {
    min-height: 29px;
    vertical-align: center;
    margin: 0px 16px;
}

.navigation__item--logo {
    text-align: left;
}

.navigation__logo-item {
    display: flex;
    justify-content: flex-start;
    flex-grow: 4;
    align-items: center;
    vertical-align: bottom;
}

.navigation__logo {
    height: 29px;
}

.navigation__text {
    margin: 0px;
    font-size: 29px;
    color: #262626;
    text-decoration: none;
}

.navigation__search {
    padding: 5px 1px;
    background: #fafafa;
    border: solid 1px #dbdbdb;
    flex-grow: 2;
}

.navigation__search--text {
    text-align: center;
    margin: 1px 10px;
}

.main {
    width: 100%;
    max-width: 720px;
    margin: 32px auto;
}

.main__title {
    color: #2E6171;
}

.about {}

.about__title {
    color: #5C9EAD
}

.help {}

.help__title {
    color: #5C9EAD
}

.materials {}

.materials__title {
    color: #5C9EAD
}

.author {}

.author__title {
    color: #5C9EAD
}

.footer {}

.footer__to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}

.footer__link {
    color: #ED6A5A
}

.priority {}

.priority__list {
    list-style: none;
}

.base {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.photo {
    border: 1px solid #e6e6e6;
    background: #fff;
    margin: 30px 0px;
}

.photo__img {
    object-fit: cover;
    width: 600px;
    height: 600px;
}

.photo__header {
    display: flex;
    direction: row;
    align-items: center;
    padding: 5px 8px;
}

.photo__avatar {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    object-fit: cover;
    margin: 5px;
    border: 2px solid green;
    background-color: green;
}

.photo__author {
    font-weight: 600;
    color: #262626;
    text-decoration: none;
}

.photo__likes {
    font-weight: 800;
    padding: 1px 10px;
}

.photo__description {
    padding: 1px 10px;
}

.photo__author--desc {
    font-weight: 800;
}

.photo__comment {
    font-weight: 200;
    opacity: 0.3;
    color: #262626;
}

.photo__comment--btn {
    color: #3897f0;
    opacity: 0.3;
}

.photo__footer {
    border: 1px solid #e6e6e6;
    background: #fff;
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 1px 10px;
}

.album {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #e6e6e6;
    background: #fff;
    margin: 30px 30px;
}

.album__img {
    object-fit: cover;
    width: 293px;
    height: 293px;
    margin: 15px 15px;
}

.profile {
    display: flex;
}

.profile__avatar {
    border-radius: 50%;
    width: 168px;
    height: 168px;
    object-fit: cover;
    margin: 5px;
    border: 5px solid green;
    background: green;
    flex-grow: 1;
}

.profile__summary {
    flex-grow: 2;
}

.photo__like {
    color: red;
    margin: 2px 5px 0px 5px;
}