<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> {% load static %}
    <!-- CSS CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <script src="https://kit.fontawesome.com/8a0a56b44d.js"></script>

    <title>Instantgram</title>
</head>

<body>
    <header class="navigation">

        <ul class="navigation__menu">
            <div class="navigation__logo-item">
                <li class="navigation__item navigation__item--logo">
                    <img class="navigation__logo" src="{% static 'image/logo.svg' %}" alt="Instantgram">
                </li>

                <li class="navigation__item">
                    <a class="navigation__text" href="/">Instantgram</a></p>
                </li>

            </div>
            <li class="navigation__search">
                <p class="navigation__search--text">Search</p>
            </li>
            <nav class=navigation__icons>
                <li class="navigation__item">
                    <i class="far fa-compass fa-2x navigation__explore"></i>
                </li>
                <li class="navigation__item">
                    <i class="far fa-user fa-2x navigation__you"></i>
                </li>
            </nav>
        </ul>

    </header>
    <main class=base>
        <div class="profile">
            <img class="profile__avatar" src="{{ avatar }}">
            <section class='profile__summary'>
                <h1 class="profile__name">{{ username }}</h1>
                <a class="photo__author" href="/{{ username }}/add">[ Add photo ]</a>
                <p>Posts: {{ photos|length }}</p>
                <p>Description</p>
            </section>

        </div>
        <section class="album">
            {% for entry in photos %}
            <img class="album__img" onerror="this.style.display='none'" src="{{ entry.photo_url }}"> {% endfor %}
        </section>
    </main>
</body>

</html>